<footer id="wrapper" class="toggled">
    <div class="container">
        <div class="row">
            <div class="col-md-12" style="color: #a6e1ec">
                <hr style="">
                <ul class="list-inline text-center">
                    <li>
                        <a href="https://www.facebook.com/profile.php?id=100011789134527" target="_blank">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/Cho-Young-Il" target="_blank">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/spaderism" target="_blank">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                </ul>
                <p class="copyright text-muted" style="font-weight: bold;">Copyright &copy; 2016</p>
            </div>
        </div>
    </div>
</footer>
