body {
    font-family: 'Open Sans', 'Helvetica Neue',
                Helvetica, Arial, sans-serif;
}

.custom-button {
    padding: 9px 12px;
    color: white;
    text-align: center;
    font-weight: bold;
    border-radius: 1px;
    opacity: 1;
}

#btnShowMenu.custom-button:hover {
    color: white;
}

#newPostBtn.custom-button {
    width: 110px;
    font-size: 12px;
    font-weight: 900;
    background-color: #337ab7;
    border:3px solid #337ab7;
}

#getLoginBtn.custom-button {
    color: white;
    width: 120px;
    font-size: 12px;
    font-weight: 900;
    background-color: #337ab7;
    border:3px solid #337ab7;
    text-decoration: none;
}

/* Header */
#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 230px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 230px;
    width: 0;
    height: 100%;
    margin-left: -230px;
    overflow-y: auto;
    background:#fff;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar-wrapper {
    box-shadow: inset -1px 0px 0px 0px #DDDDDD;
}

#wrapper.toggled #sidebar-wrapper {
    width: 230px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -230px;
}

/* Sidebar */
.sidebar-nav {
    position: absolute;
    top: 0;
    width: 205px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    color: black;
    text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

@media(min-width:100px) {
    #wrapper {
        padding-left: 230px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 230px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

#sidebar-wrapper li.active > a:after {
    border-right: 17px solid #f4f3ef;
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
    content: "";
    display: inline-block;
    position: absolute;
    right: -1px;
}

/* Searchbar */
#searchbar-wrapper {
    z-index: 50;
    position: absolute;
    right: 10px;
    top:17px;
    opacity: 0.8;
}

.search-form .form-group {
    float: right !important;
    width: 220px;
    height: 28px;
    background-color: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    border-radius: 25px;
    border: 1px solid #ccc;
}
.search-form .form-group input.form-control {
    border: 0 none;
    background: transparent;
    box-shadow: none;
    display:block;
    font-weight:bold;
    padding-top:0px;
    width: 230px;
}

.search-form .form-group span.form-control-feedback {
    position: absolute;
    top: -3px;
    right: -2px;
    z-index: 2;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    color: #D9230F;
    left: initial;
    font-size: 14px;
}

.search-form-toggled {
    position: absolute;
    right: -300px;
}
